/* ------------- */
/*   ALL PAGES   */
/* ------------- */

:root {
    --heading-font: Rokkitt, serif;
    --paragraph-font: Manjari, sans-serif;
}

header p,
main p,
main li,
footer p {
    font-family: var(--paragraph-font);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #DAF7FF;
    color: #000;
    margin: 1.25rem;
    padding: 0 10px 0 10px;
}

.headerpic {
    padding: 10px;
}

h1 {
    padding-top: 10px;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

#menu {
    display: block;
    font-size: 1.5rem;
    position: fixed;
    top: 10px;
    right: 10px;
    color: #000;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.active::before {
    content: "➲ ";
}

nav a {
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 auto;
    max-width: 500px;
    padding-top: 20px;
    color: #fff;
    float: right;
}

.navigation li {
    display: none;
}

.navigation.open li {
    display: block;
}

.navigation a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-family: var(--paragraph-font);
}

.navigation.open {
    background-color: darkgreen;
    justify-content: center;
    padding: 10px;
    flex: 1;
}

.navigation a:hover {
    font-weight: 700;
    background-color: #000;
    border: #fff solid 2px;
    border-radius: 10px;
}

.navigation .active {
    font-weight: 700;
    background-color: #000;
    border: #fff solid 2px;
    border-radius: 10px;
    color: #fff;
}

h2 {
    color: #000;
    margin: 0 0 0 20px;
}

main p {
    color: #000;
}

.social {
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: darkgreen;
    padding: 10px;
    margin: 0 10px 0 10px;
}

.footer-container {
    text-align: center;
}

footer p {
    font-size: .75em;
    color: #fff;
    text-align: center;
    margin: 0;
}

/* ------------- */
/*   HOME PAGE   */
/* ------------- */

.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    position: relative;
}

.hero article {
    position: absolute;
    padding-top: .8em;
    opacity: .8;
    box-sizing: border-box;
}

.action a {
    background-color: #d80e0e;
    color: #fff;
    font-family: var(--paragraph-font);
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.action a:hover {
    background-color: rgb(210, 208, 208);
    color: #d80e0e
}

h3 {
    background-color: #000;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 5px;
    text-align: center;
}

figcaption {
    font-family: var(--paragraph-font);
    font-size: .85em;
    text-align: center;
}

.info-box,
.spotlight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    align-items: stretch;
    margin: 0 10px 0 10px;
}

.events,
.weather,
.spotlight {
    flex: 1;
    background-color: #DAF7FF;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

.spotlight {
    margin: 10px 10px 20px 10px;
}

.events,
.weather {
    margin: 10px;
}

.weather-info p {
    text-align: center;
}

#current-temp,
#today-temp,
#tomorrow-temp,
#day-three-temp {
    font-size: larger;
    font-weight: 900;
    margin-bottom: 10px;
}

.weather-image,
.weather-info {
    flex: 1;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

#condition {
    padding-bottom: 10px;
}

/* ------------- */
/* DISCOVER PAGE */
/* ------------- */

.sidebar {
    padding: 10px;
    border: 1px solid #000;
    margin: 10px auto;
    font-family: var(--paragraph-font);
    width: 90%;
}

picture {
    margin: 0 auto;
}

picture span {
    margin: 10px;
    font-family: var(--paragraph-font);
    padding-bottom: 10px;
}

.images img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    background-color: black;
}

#visitMessage {
    margin-left: 10px;
    font-weight: 700;
    padding: 5px;
}

/* ------------- */
/*   JOIN PAGE   */
/* ------------- */

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: space-evenly;
}

.container h2 {
    width: 100%;
}

.level {
    margin: 3rem 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    text-align: center;
}

.level ul {
    border: 1px solid #ddd;
    background-color: #DAF7FF;
    max-width: 50%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0 auto .5rem auto;
    text-align: left;
}

.level h3 {
    max-width: 55%;
    text-align: center;
    margin: 0 auto;
}

/*   FORM   */

form {
    padding: 10px;
    margin-left: 1rem;
}

.join fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    font-family: var(--heading-font);
}

.join legend {
    color: darkgreen;
    font-weight: 700;
    padding: 0 .5rem;
}

.join label {
    display: block;
    padding: .5rem;
    font-size: .9rem;
}

.join input[type="text"],
.join input[type="tel"],
.join input[type="email"],
textarea {
    background-color: #f3fcff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
}

.join .join input[type="radio"] {
    margin-right: 6px;
    padding: 10px;
}

.join input[type="submit"] {
    width: 100%;
    max-width: 400px;
    padding: .75rem;
    background-color: darkgreen;
    color: #fff;
    border: #fff solid 2px;
    border-radius: 10px;
    background-image: linear-gradient(darkgreen, green);
    box-shadow: 1px 1px 4px #999;
    font-family: var(--paragraph-font);
    font-weight: 700;
}

.join input:required {
    border: solid 2px #ff4d4d;
}

.join input:required:valid {
    border: solid 2px green;
}

#required {
    font-size: small;
    padding-left: 2rem;
}

#timestamp {
    display: none;
}

.thanks {
    text-align: center;
    font-family: var(--paragraph-font);
}

/* ------------- */
/* DIRECTORY PAGE*/
/* ------------- */

/* Selection buttons */

.selection {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0;
}

.selection button {
    background-color: #DAF7FF;
    color: #000;
    border: 1px solid #7b7b7b;
    width: 10%;
    padding: .75rem;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #999;
    font-family: var(--paragraph-font);
    font-weight: 700;
}

.selection button:hover,
.selection button.active
{
    font-weight: 700;
    background-color: #000;
    color: #fff;
    border: #fff solid 1px;
    border-radius: 10px; 
}

/* Grid Display */

.card-container {
    display: grid;
    padding: 10px;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 10px;
}

.member:last-child {
    grid-column: 1 / -1;
    justify-self: center;
}


/* List Display */

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

/* Indivdual cards */

.member {   
    background-color: #DAF7FF;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #000;
    padding: 10px;
}

.member a { 
    color: blue;
}

.member a:visited { 
    color: blue;
}

.member img {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 10px #646464;
    margin: 10px;
}