@media screen and (min-width: 450px) {

    .hero article {
        top: 8%;
        left: 12%;
        width: 45%;
        height: 10%;
    }
    
}

@media screen and (min-width: 700px) {

img.hover:hover {
    filter: blur(4px);
    transition: filter 0.3s ease;
  }
}

@media screen and (min-width: 940px) {

    h1 {
        padding-top: 50px;
        margin: 0;
    }
        
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        justify-content: flex-end;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        color: #000;
    }

    .navigation a:hover {
        background-color: #000;
        color: #fff;
    }

    .navigation ul {
        display: flex;
        flex: 1 1 100%;
    }

    /* ------------- */
    /*   HOME PAGE   */
    /* ------------- */

    .hero article h2 {
        font-family: var(--heading-font);
        font-size: 1.5em;
        font-weight: 700;
    }

    .action a {
        font-size: 1em;
    }

    .info-box {
        flex-direction: row;
    }

    .weather-box {
        flex-direction: row;
    }

    /* ------------- */
    /*   JOIN PAGE   */
    /* ------------- */

    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;    
        justify-content: space-evenly;
    }   

    fieldset {
        width: 100%
    }

    .join {
        max-width: 90%;
    }

    .level {
        max-width: 90%;
    }

    /* ------------- */
    /* DISCOVER PAGE */
    /* ------------- */

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sidebar {
        max-width: 400px;
        align-items: center;
    }

    /* ------------- */
    /* DIRECTORY PAGE*/
    /* ------------- */

        
    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 10px;
    }
}