:root {
    --heading-font: Jost, sans-serif;
    --paragraph-font: Parkinsans, sans-serif;
}

.profile {
    display: grid;
    background-color: darkblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, darkblue, purple);    
    color: #ffffff;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

.profile span {
    font-size: 1.5rem;
    font-family: var(--heading-font);
    font-weight: 700;
    justify-content: right;
}

.profile img {
    margin: auto;
    box-shadow: 0 8px 8px 0 lightgray;
    align-items: center;
    margin: 10px 0 10px 0;
}

header,
footer {
    text-align: center;
    margin-top: 10px;
}



h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--heading-font);
    margin: 5px;
    padding-top: 10px;
}

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;
}

h2 {
    /* color: #004687; */
    background-color: rgb(11, 11, 208);
    color: lightgray;
    font-family: var(--heading-font);
    margin: auto;
    text-align: center;
    border-radius: 0 0 0 10px;
    font-family: var(--heading-font);
    padding: 5px;
}

#mode {
    position: fixed;
    display: block;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

#menu {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #fff;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation ul {
    padding: 0;
}

.navigation {
    list-style-type: none;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 0 0 0;
}

.navigation li {
    display: none;
}

.navigation.open li {
    display: block;
}

.navigation a {
    color: white;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border: #000 solid 5px;
}

.navigation.open {
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex: 1;
}

.navigation a:hover {
    font-weight: 600;
    background-color: rgba(11, 11, 208, 0.8);
    border-radius: 70px;
    color: lightgray;
}

nav a {
    text-decoration: none;
}

nav .active {
    background-color: #fff;
    border: solid 2px #fff;
    border-radius: 70px;
    color: #000;
    margin: 5px;
 }


main {
    align-items: center;
}

/* Class Selectors */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
}

.card {
    border: 3px solid #969696;
    margin: 10px;
    padding: 0 0 20px 20px;
    box-shadow: 0 0 10px #404040;
    /* grid-column: 1/1; */
}

.card li {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 10px 0;
}

#info {
    text-align: center;
    padding: 0;
}


footer {
    font-size: .75em;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 5px;
}