:root {
    --heading-font: Jost, sans-serif;
    --paragraph-font: Parkinsans, sans-serif;
}


/*** header ***/

/* profile pic */

.profile {
    display: grid;
    background-color: darkblue;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, darkblue, purple);
    color: #ffffff;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

.profile span {
    font-size: 1.5rem;
    font-family: var(--heading-font);
    font-weight: 700;
    justify-content: right;
}

.profile img {
    margin: auto;
    box-shadow: 0 8px 8px 0 lightgray;
    align-items: center;
    margin: 10px 0 10px 0;
}

header,
footer {
    text-align: center;
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--heading-font);
    margin: 5px;
    padding-top: 10px;
}

/* dark mode button */
#mode {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}

/* navigation */
#menu {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

nav a {
    text-decoration: none;
}

.navigation ul {
    padding: 0;
}

.navigation {
    list-style-type: none;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 0 0 0;
}

.navigation li {
    display: none;
}

.navigation.open li {
    display: block;
}

.navigation a {
    color: white;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border: #000 solid 5px;
}

.navigation.open {
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex: 1;
}

.navigation a:hover {
    font-weight: 600;
    background-color: rgba(11, 11, 208, 0.8);
    border-radius: 70px;
    color: lightgray;
}

.navigation .active {
    background-color: #fff;
    border: solid 2px #fff;
    border-radius: 70px;
    color: #000;
    margin: 5px;
}

/* body */

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;
}

h2 {
    /* color: #004687; */
    background-color: rgb(11, 11, 208);
    color: lightgray;
    font-family: var(--heading-font);
    margin: auto;
    text-align: center;
    border-radius: 0 0 0 10px;
    font-family: var(--heading-font);
    padding: 5px;
}

h3 {
    text-align: center;
}


main {
    align-items: center;
}


/* Class Selectors */

.temple img { 
    display:block;
    border:#000 1px solid;
    padding: 10px;
    margin: 10px auto 10px auto;
    align-items: center;
}

.temple-label {
    position: absolute;
	top: 325px;
	left: 90px;
    color: #fff;
    background-color: #2e2e60;
    background-image: linear-gradient(to right, #202020, #2e2e60);
	border: 1px solid #fff;
    border-radius: 25px;
	padding: .2rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.9;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
}

.card, .map {
    border: 3px solid #969696;
    margin: 10px;
    padding: 0 0 20px 20px;
    box-shadow: 0 0 10px #404040;
    align-items: center;
}

.card li {
    list-style-type: none;
    padding: 0;
    /* margin: 10px 0 10px 0; */

}
.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
}


.weather-container li {
    padding: 10px;
}


.icon {
    display: flex;
    justify-content: center;
    width: 100%;  
}

img#weather-icon {
    margin: 0;
}


.weather-container figure {
    margin: 0;
}

#info {
    text-align: center;
    padding: 0;
}

#assignments {
    display: inline;
}

#assignments div {
    padding: 5px;
}

footer {
    font-size: .75em;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 5px;
}